/* site fonts */
$headingFont: "Lora";
$bodyFont: "Robato";

/* site colors*/
$primary: black;
$secondary: #f0efed;
$tertiary: #f6a823;
$quaterney: #05afc1;
$quinary: #ffd698;
$solidWhite: #fff
